@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Reading List</h1>
    <p>This App was designed for you to set a book and time down for you to read your book!</p> @*</a>.</p>*@
</div>
